body.pushable > .pusher {
  background: #efefef;
}

.no-margin {
  margin: 0px !important;
}

.sa-white {
  background: white;
}

.sa-grid {
  display: grid;
}

.sa-grid-tile {
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 1fr 2fr;
  grid-gap: 15px 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sa-grid-tile-number {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  font-size: 4rem;
  font-weight: lighter;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  text-align: center;
}

.sa-grid-tile-title {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}

.sa-grid-tile-description {
  grid-column: 2 / 4;
  grid-row: 3/ 4;
}

.sa-grid .sa-grid-tile:nth-child(even) {
  background-color: #2185d0 !important;
  color: #fff;
}

.sa-grid .sa-grid-tile:nth-child(odd) {
  background-color: #fff !important;
  color: #010101;
}

.sa-deleted,
.sa-rejected {
  background-color: #db2828 !important;
  color: #fff;
}

.sa-pending,
.sa-warn,
.sa-suspended,
.sa-requested {
  background-color: #fbbd08 !important;
  color: #fff;
}

.sa-approved,
.sa-active,
.sa-accepted {
  background-color: #21ba45 !important;
  color: #fff;
}

